<header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" >
        <a class="navbar-brand" routerLink="/"><img class="logo" src="assets/007-logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/app/home">Home</a>
            </li>
            <li class="nav-item" *ngIf="currentUser">
              <a class="nav-link" routerLink="/app/profile">Profile</a>
            </li>
            <li class="nav-item" *ngIf="currentUser">
              <a class="nav-link" routerLink="/app/settings" *ngIf="isAdmin">Settings</a>
            </li>
          </ul>
          <ul class="navbar-nav mt-2 mt-md-0">
            <li class="nav-item" *ngIf="!currentUser">
              <a class="nav-link" routerLink="/app/login">Login</a>
            </li>
            <li class="nav-item" *ngIf="currentUser">
              <a class="nav-link" (click)="logout()">Logout</a>
            </li>
          
          </ul>
        </div>
      </nav>
    </header>
    
<div class="container">
	<router-outlet></router-outlet>
</div>
